
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@500&display=swap');

:root {
    --muted: #9ca3af;
    --fg: white;
    --bg: #2c0735;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 25;
    font-style: normal;
    --line: #8492a6c0;
}

body {
    background: var(--bg);
}

.navbar {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding-left: 10px;
    margin-top: 10px;
    background: var(--bg);
    color: var(--fg);
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    /* border-bottom: 0.5px solid rgba(128, 128, 128, 0.51); */
}

.navbar button {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-right: 8px;
    border: none;
    font-size: 16px;
    position: relative;
    padding: 4px 6px;
    background: transparent;
    color: var(--fg);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navbar button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -2px;
    left: 0;
    background: linear-gradient(#97dffc, #613dc1);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.navbar button:hover {
    transform: scale(1.08);
    color: #97dffc;
}

.navbar button:hover::after {
    transform: scaleX(1);
}